# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/TJE2D/ColorByRegexConfig.txt
.vs/TJE2D/FileContentIndex/0eda39ca-843a-415b-9cc8-d9ac93e20398.vsidx
.vs/TJE2D/FileContentIndex/14211c48-0ec4-4386-b28f-25055ed5d792.vsidx
.vs/TJE2D/FileContentIndex/9f73bda0-ead7-4fa0-b115-8cdbdcd7592a.vsidx
.vs/TJE2D/FileContentIndex/ad913412-42e1-464a-9298-8d634494a72a.vsidx
.vs/TJE2D/FileContentIndex/f066c5bd-e111-4adc-9593-30075879000e.vsidx
.vs/TJE2D/v17/.wsuo
.vs/TJE2D/v17/Browse.VC.db
.vs/TJE2D/v17/Browse.VC.db-shm
.vs/TJE2D/v17/Browse.VC.db-wal
.vs/TJE2D/v17/Browse.VC.opendb
.vs/TJE2D/v17/ipch/AutoPCH/58fe8835c777dc37/MAIN.ipch
.vs/TJE2D/v17/ipch/AutoPCH/8aff5f0c299827ec/GAME.ipch
.vs/TJE2D/v17/ipch/AutoPCH/e3e27b6c658a6f40/INPUT.ipch
.vs/VSWorkspaceState.json
src/GameMap.cpp
src/GameMap.h
src/json.hpp
visual/.vs/visual/FileContentIndex/46e0041c-ca35-49de-884e-90037c936b0f.vsidx
visual/.vs/visual/FileContentIndex/80b7684f-dd2f-4cd1-b58d-2e6935e1206f.vsidx
visual/.vs/visual/FileContentIndex/890d1881-c2b0-4e1f-8997-7161664c40b6.vsidx
visual/.vs/visual/v17/.suo
visual/.vs/visual/v17/Browse.VC.db
visual/visual/visual.log
